{% load static %}
<aside class="main-sidebar sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="{% url 'dashboard' %}" class="brand-link" style="background-color:#1c7db7">
      <img src="{% static 'assets/logo-admin.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin<strong>Starter</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 pb-2 mb-2 d-flex">
        <div class="image mr-3 mt-2">
<!--          {% if request.user.customer_user.profile_pic.url %}-->
<!--            <img src="{{ request.user.customer_user.profile_pic.url }}" class="img elevation-2" alt="User Image">-->
<!--          {% else %}-->
<!--            <img src="{% static 'assets/user-role.png' %}" width="300px" class="img-thumbnail rounded">-->
<!--          {% endif %}-->
              <img src="{% static 'assets/user-role.png' %}" width="300px" class="img-thumbnail rounded">
        </div>
        <div class="info-box-content">
          <a href="#" class="d-block pb-1"><b>{{ request.user.customer_user.name }}</b></a>
          <h6><span class="badge badge-primary">
            <a href="{% url 'profile' %}">
                Edit Profile
            </a>
          </span></h6>
        </div>
      </div>

      <!-- SidebarSearch Form -->
<!--      <div class="form-inline">-->
<!--        <div class="input-group" data-widget="sidebar-search">-->
<!--          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
<!--          <div class="input-group-append">-->
<!--            <button class="btn btn-sidebar">-->
<!--              <i class="fas fa-search fa-fw"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">Menus</li>
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'members' %}" class="nav-link">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>
                Members
              </p>
            </a>
          </li>
          {% endif %}
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'posted' %}" class="nav-link">
              <i class="nav-icon fas fa-newspaper"></i>
              <p>
                Posted
              </p>
            </a>
          </li>
          {% endif %}
          <li class="nav-header">Account Info</li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fab fa-keycdn"></i>
              <p>
                Change Password
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="nav-icon fas fa-power-off" style="color:white"></i>
              <p>
                Logout
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<!--<script>-->
<!--  n =  new Date();-->
<!--  y = n.getFullYear();-->
<!--  m = n.getMonth() + 1;-->
<!--  d = n.getDate();-->
<!--  document.getElementById("date").innerHTML = d + " / " + m + " / " + y-->
<!--</script>-->